- if ["show","confirm"].include?(params[:action])
  - if can? :confirm,resource
    = link_to confirm_repair_bill_path(resource),method: :patch,:class => "btn btn-default","data-toggle" => "tooltip","data-placement" => "top",:title => "чбошод" do
      %i.fa.fa-check{:style => "color : green;"}
