.box.box-info
  .box-header
    %h3.box-title 待年审驾驶证
  .box-body
    %table.table.table-condensed.table-stripped.table-hover
      - @expired_drivers.each do |t|
        %tr
          %td
            %span.label.label-info 待年审
          %td= t.org
          %td= link_to t.name,t
          %td= t.next_check_date

      - if @expired_drivers.size == 0
        %tr
          %td{colspan: 4}
            未查询到数据
