.box.box-info
  .box-header
    %h3.box-title 待检查特种设备
  .box-body
    %table.table.table-condensed.table-stripped.table-hover
      - @expired_spec_equipments.each do |t|
        %tr
          %td
            %span.label.label-info 待检查
          %td= t.org
          %td= link_to t.model,t
          %td= link_to t.location,t
          %td= t.next_check_date

      - if @expired_spec_equipments.size == 0
        %tr
          %td{colspan: 5}
            未查询到数据
