.table-responsive
  %table.table.table-condensed.table-striped.table-hover
    %thead
      %tr
        %th 物料名称
        %th 规格
        -# %th 单位
        %th 单价
        %th 数量
        %th 金额
    %tbody
      - @cux_demand.cux_demand_lines.each_with_index do |line,i|
        %tr
          %td
            =line.item_description
          %td
            =line.item_spec
          -# %td
          -#   =line.uom
          %td
            =line.item_price
          %td
            =line.demand_quantiry
          %td
            =line.line_bugdet
