%table.table.table-condensed.table-striped.table-hover
  %tbody
    %tr
      %th 产业类型:
      %td=option_des("产业类型",@cux_pm_pre_project.try(:cux_pm_pre_option).try(:attribute1))
    %tr
      %th 所属二级单位:
      -# %td=@cux_pm_pre_project.try(:cux_pm_pre_option).try(:attribute4)
      %td 中电投河南电力有限公司
    %tr
      %th 管理费用类型:
      %td=option_des("管理费用类型",@cux_pm_pre_project.try(:cux_pm_pre_option).try(:attribute27))
