.table-responsive
  %table.table.table-condensed.table-striped.table-hover
    %thead
      %tr
        %th 审批人
        %th 审批信息
        %th 审批结果
        %th 日期
    %tbody
      - @cux_tran.cux_tran_activity_histray_as.each_with_index do |line,i|
        %tr
          %td
            =line.full_name
          %td
            =line.response_message
          %td
            =line.result_name
          %td
            =line.begin_date.strftime("%Y-%m-%d")
