- if can? :create,resource_class
  = link_to show_import_xls_salary_tables_path,:class => "btn btn-default fancybox fancybox.ajax","data-toggle" => "tooltip","data-placement" => "top",:title => "导入EXCEL" do
    %i.fa.fa-file-excel-o{style: "color : blue;"}

  = link_to before_new_salary_tables_path(salary_item_header_id: 40),:class => "btn btn-default fancybox fancybox.ajax","data-toggle" => "tooltip","data-placement" => "top",:title => "新建工资表" do
    %i.fa.fa-file-excel-o{style: "color : blue;"}



