- if params[:action].eql?("show")
  - if can? :deliver,resource
    = link_to deliver_task_path(resource),:method => :patch,"data-confirm" => "你确定要下发吗?",:class => "btn btn-default","data-toggle" => "tooltip","data-placement" => "top",:title => "下发数据" do
      %i.fa.fa-clock-o{style: "color : blue;"}

  - if can? :confirm,resource
    = link_to confirm_task_path(resource),:method => :patch,"data-confirm" => "你确定该任务已完成吗?",:class => "btn btn-default","data-toggle" => "tooltip","data-placement" => "top",:title => "复查合格" do
      %i.fa.fa-check
