<!-- Content Header (Page header) -->
%section.content-header
  %h1
    Dashboard
    %small Version 2.0
  %ol.breadcrumb
    %li
      %a{:href => "#"}
        %i.fa.fa-dashboard
        Home

    %li.active Dashboard

<!-- Main content -->
%section.content
  <!-- Info boxes -->
  .row
    .col-md-12.col-sm-12.col-xs-12
      .info-box
        %span.info-box-icon.bg-aqua
          %i.ion.ion-ios-gear-outline

        .info-box-content{:style => "height : 500px;"}
          %span.info-box-text CPU Traffic
          %span.info-box-number
            90
            %small %
