.panel.panel-default
  .panel-heading
    %h2 
      = @user.username
  .panel-body
    %table.table
      - @user.user_web_apps.each do |uwa|
        %tr
          %td
            = uwa.web_app.name
          %td
            = uwa.username
          %td
            = uwa.password
