= form_tag session_path(:user),class: "form-inline",id: "iframe_login_page",target: "_blank" do
  .form-group{style: "display: inline-block;"}
    .input-group
      %span.input-group-addon
        %i.glyphicon.glyphicon-user
      = text_field_tag 'user[login]',"",autofocus: true,style: "display: inline;",class: "form-control input-sm", placeholder: "用户名"
  .form-group{style: "display: inline-block;"}
    .input-group
      %span.input-group-addon
        %i.glyphicon.glyphicon-lock
      = password_field_tag 'user[password]',"",autofocus: true,style: "display: inline;",class: "form-control input-sm", placeholder: "密码"

  %button{type: 'submit',class: "btn btn-primary btn-sm"} 登录平台
