%script#equipment_list_temp{:type => "text/html"}
  %tr
    %td
    %td{"data-content" => "idx"}
    %td{"data-content" => "name"}
    %td{"data-content" => "equipment_category_name"}
    %td{"data-content" => "unit_name"}
    %td{"data-content" => "factory_name"}
    %td{"data-content" => "model"}

%script#inout_line_temp{:type => "text/html"}
  %tr
    %td{"data-content" => "idx"}
    %td{"data-content" => "name"}
    %td{"data-content" => "model"}
    %td{"data-content" => "price"}
    %td{"data-content" => "qty"}
    %td{"data-content" => "amt"}

