%ul.sidebar-menu
  %li.header
    %h4 功能菜单
  %li.treeview
    %a{:href => "#"}
      %i.fa.fa-dashboard
        %span
          区域信息维护
      %i.fa.fa-angle-left.pull-right

    %ul.treeview-menu
      %li
        = link_to area_infos_path do
          %i.fa.fa-circle-o
            区域信息维护
      %li
        = link_to area_mus_path do
          %i.fa.fa-circle-o
            收割进度录入
