%ul.sidebar-menu
  %li.header
    %h4 功能菜单
    - current_user.current_role.system_function_groups.each do |f_group,functions|
      %li.treeview{"data-func-group-id" => f_group.id}
        %a{:href => "#"}
          %i.fa.fa-dashboard
          %span= f_group.name
          %i.fa.fa-angle-left.pull-right

        %ul.treeview-menu
          - functions.each do |f|
            %li{"data-func-id" => f.id,"data-default-action" => f.default_action}
              = link_to instance_eval(f.default_action),target: f.target do
                %i.fa.fa-circle-o
                = f.name
