- if params[:action].eql?("show")
  - if can? :submit,resource
    = link_to send("submit_#{resource_class.model_name.singular}_path",resource),
      :method => :patch,
      "data-confirm" => "你确定要上报吗?",
      :class => "btn btn-default",
      "data-toggle" => "tooltip",
      "data-placement" => "top",
      :title => "上报数据" do
      %i.fa.fa-cloud-upload{style: "color : blue;"}
