.table-responsive
  %table.table.table-condensed.table-striped.table-hover
    %tbody
      - @po_header.po_lines.each_with_index do |line,i|
        %tr
          %th{:colspan => 20}
            行
            = i + 1
        %tr
          %th 物料名称:
          %td
            =line.description

        %tr
          %th 类型:
          %td
            =line.line_type

        %tr
          %th 单价:
          %td
            =line.unit_price

        %tr
          %th 数量:
          %td
            =line.quantity
        -# %tr
        -#   %th 金额:
        -#   %td
        -#     =line.line_bugdet
