= link_to before_new_salary_table_xian_on_duties_path,:class => "btn btn-default fancybox fancybox.ajax", "data-toggle" => "tooltip","data-placement" => "top", :title => "新建#{resource_class.model_name.human}" do
  %i.fa.fa-plus
