%h4
  = link_to :back do
    %i.glyphicon.glyphicon-arrow-left
  %span 用户付款记录
.table-responsive
  %table.table.table-hover.table-condensed.table-striped.table-match-recommend-report-bigdata
    %tr
      %th 用户名
      %th 付款时间
      %th 付款金额
    - @payments.each do |ul|
      %tr
        %td= ul.user.user_name
        %td= ul.payment_time.strftime("%Y-%m-%d %H:%M")
        %td= ul.fee/100.0
