/ 即时指数界面
%input{:type => "hidden", "data-leagues" => Match.immediate_leagues.to_json}
= react_component 'ImmediateIndexTable', {matches: render(file: "matches/immediate_index.json.jbuilder"),url: immediate_index_matches_path(q: params[:q],format: :json)}, :div
