%input{:type => "hidden", "data-leagues" => Match.immediate_leagues.to_json}
= react_component 'Immediate', {matches: render(file: "matches/immediate.json.jbuilder"),total_pages: @matches.total_pages,url: immediate_matches_path(q: params[:q],format: :json)},{id: "table_immediate_list"}
