.panel-heading
  .panel-title 
    城市共同配送试点项目申请表
  .panel-options
    <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
    <a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
  .panel-body
    = render 'form'

