.show_for .wrapper{
  background: #fff;
}
.show_for .wrapper .label{
  color : #000;
}
.default-formtastic-form  input.form-control{
  width : 30%;
}

.default-formtastic-form  .boolean .form-label{
  display : none;
}
.table-bordered {
    border: 1px solid #ddd;
}
.table-bordered > thead > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > tfoot > tr > td {
  border: 1px solid #ddd;
}
#safety_table th,#safety_table td {
  text-align : center;
  vertical-align : middle;
}

