.box.box-default{:style => "width : 1000px;"}
  .box-header.with-border
    .box-title.form-inline
      %input#no_eq{:type => "text",:class => "form-control input-sm",:placeholder => "设备编号"}
      %input#equipment_name_cont{:type => "text",:class => "form-control input-sm",:placeholder => "设备名称"}
      = select_tag :equipment_category_id_eq,options_for_select(equipment_categories_for_select),prompt: "--选择设备类别--",class: "form-control input-sm",id: "equipment_category_id_eq"
      %input#equipment_model_cont{:type => "text",:class => "form-control input-sm",:placeholder => "规格型号"}
      %input#equipment_factory_name_cont{:type => "text",:class => "form-control input-sm",:placeholder => "生产厂家"}
      %button#btn_query_stock.btn.btn-primary.btn-sm{"data-url" => collection_path(format: :json)}
        查询
        %span.glyphicon.glyphicon-search
      %button#btn_stock_select_confirm.btn.btn-primary.btn-sm
        确定
        %i.fa.fa-check

  .box-body
    %table.table.table-condensed.table-stripped.table-hover.table-bordered{:style => "text-align : center;"}
      %thead
        %th 选择
        %th 编号
        %th 名称
        %th 类别
        %th 单位
        %th 生产厂家
        %th 规格型号
        %th 数量
        %th 价格
      %tbody#stock_list_temp_wrapper
