- if can? :update,resour
= link_to edit_resource_path(resource),:class => "btn btn-default", "data-toggle" => "tooltip","data-placement" => "top", :title => "修改当前记录" do
  <i class="fa fa-edit"></i>
<% end %>
