<!-- Content Header (Page header) -->
%section.content-header
  %h3=  resource_name

<!-- Main content -->
%section.content
  <!-- Info boxes -->
  .row
    .col-md-12.col-sm-12.col-xs-12
      .box.box-info
        .box-header
          %h3.box-title
            = render "dynamic_toolbar"

        .box-body{style: "overflow-x : scroll;"}
          = render "table"
