%table.table.table-condensed.table-striped.table-hover
  %thead
    %tr
      %th 层次
      %th 审批人
      %th 审批意见
      %th 审批日期
  %tbody
    - @cux_pa.audit_his.each_with_index do |line,i|
      %tr
        %td= line[:step].to_i
        %td
          =line[:last_name]
        %td
          =line[:comments]
        %td
          =line[:approved_date].try(:strftime,"%Y-%m-%d %H:%M")

