.table-responsive
  %table.table.table-condensed.table-striped.table-hover
    %thead
      %tr
        %th 行号
        %th 行类型
        %th 摘要
        %th 科目代码
        %th PO编号
        %th 开票数量
        %th 单位
        %th 单价
        %th 金额
    %tbody
      - @cux_ap_invoice.cux_ap_invoice_lines.each_with_index do |line,i|
        %tr
          %td
            =line.line_number
          %td
            =line.line_type
          %td
            =line.description
          %td
            =line.default_dist_ccdesc
          %td
            =line.po_seg
          %td
            =line.quantity_invoiced
          %td
            =line.unit_meas_lookup_code
          %td
            =line.unit_price
          %td
            =line.amount
